
<body class="outer" >

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">



<mat-card class="example-card">
    
  <div class="header">

    <mat-card-header>
     
      <h1>

        <strong>Log In</strong>

      </h1>

    </mat-card-header>

  </div>



  <!--Card content-->

  <mat-card-content class="px-lg-5 pt-0">


    <!-- Form -->

    <form class="text-center" [formGroup]="profileForm" (ngSubmit)="login(profileForm.value)">



      <!-- Email -->

      <div class="md-form">

        <mat-form-field>

          <input class="placeholder"  matInput placeholder="LoginId"   #refid class="form-control" formControlName="username">

        </mat-form-field>
        <span class="alert1" *ngIf="profileForm.controls['username'].hasError('required') && profileForm.controls['username'].touched ">
          <!-- <div *ngIf="fNameRef.errors && (fNameRef.dirty || fNameRef.touched)" class="alert alert-danger"> -->
          <span style="font-weight:bold" *ngIf="profileForm.controls['username'].hasError('required')" class="alert alert-danger">
            *Please enter id
          </span>

        </span>
        

      </div>



      <!-- Password -->

      <div class="md-form">

        <mat-form-field>

          <input type="password" class="placeholder" matInput placeholder="password"  ngModel name="password" #refpass class="form-control" formControlName="password">

        </mat-form-field>
        <span class="alert1" *ngIf="profileForm.controls['password'].hasError('required') && profileForm.controls['password'].touched ">
          <!-- <div *ngIf="fNameRef.errors && (fNameRef.dirty || fNameRef.touched)" class="alert alert-danger"> -->
          <span style="font-weight:bold"  *ngIf="profileForm.controls['password'].hasError('required')" class="alert alert-danger">
            *Please enter password
          </span>
         
        </span>
      

      </div>


      <div class="d-flex justify-content-around">

        
       

      </div>




      <!-- Sign in button -->

      <div class=buttn>

        <button (click)="login()" mat-button type="submit">Submit</button>
      </div>
 <!-- Register -->

      <p>Not a member?

        <a href="register">Register</a>

      </p>

   
    </form>

    <!-- Form -->


  </mat-card-content>


</mat-card>




<!-- Material form login -->
</body>